/* MOBILE FIRST */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --cyan: hsl(179, 62%, 43%);
  --brightYellow: hsl(71, 73%, 54%);
  --lightGray: hsl(204, 43%, 93%);
  --grayishBlue: hsl(218, 22%, 67%);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  background: var(--lightGray);
}

.container {
  margin: 5em 5em 2em 5em;
}

.section {
  padding: 1em;
}

.section-1 {
  background-color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.section-1 span {
  color: var(--brightYellow);
  font-weight: 700;
}

.section-1 p {
  color: var(--grayishBlue);
}

.section-2 {
  background-color: var(--cyan);
}

.section-2 .month {
  color: lightgray;
  margin-left: 0.5em;
}

.section-2 p {
  color: #fff;
}

.section-2 a {
  text-decoration: none;
  display: block;
  text-align: center;
  font-weight: 700;
  padding: 0.7em 1em;
  border-radius: 5px;
  color: whitesmoke;
  background-color: var(--brightYellow);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.section-3 {
  background-color: var(--cyan);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  opacity: 0.9;
}

.section-3 p {
  color: #fff;
  opacity: 0.7;
}

.section-2 h3,
.section-3 h3,
.price {
  color: white;
}

.price {
  font-size: 2rem;
}

h3 {
  color: var(--cyan);
  font-weight: bold;
}

/* DESKTOP */
@media (min-width: 600px) {
  .desktop {
    display: flex;
  }
  .container {
    max-width: 900px;
    margin: 10em auto 3em auto;
  }

  .section {
    padding: 2em;
  }

  .section-2 p,
  .section-3 p {
    min-width: 200px;
  }
  .section-2 {
    border-bottom-left-radius: 10px;
    width: 50%;
  }
  .section-3 {
    border-bottom-left-radius: 0;
    width: 50%;
  }
}
